DATABASE_URL="postgresql://neondb_owner:npg_RTXyr5jvUC6Z@ep-ancient-rice-b4764hab-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
CORS_ORIGINS="http://localhost:5173"
PORT=3000