# URL de conexão do PostgreSQL local (docker-compose.yml)
DATABASE_URL="postgresql://gameshelf:gameshelf@localhost:5432/gameshelf?schema=public"

# Porta da API (opcional, padrão 3000)
PORT=3000

STEAMGRIDDB_API_KEY="0ff10fcf527e29fb3dd4f7fd934a5fb1"